@import "tailwindcss";

@theme {
  --color-main: #0a0a0b;
  --color-secondary: #131314;
  --color-primary: #121214;
  --color-input: #1d1d1f;
  --color-box: #020203;
  --color-text: rgba(255, 255, 255, 0.5);
  --color-hovercl: #36363a;

  --gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}
.sca {
  animation: scalimate 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.opan {
  animation: opanimate 0.3s;
}

.opani {
  animation: opanimate 0.3s reverse;
}

@keyframes opanimate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scalimate {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

.hhs {
  height: calc(100% - 270px);
}

.hh {
  height: 100vh;
}

.shh {
  box-shadow: 0 0 20px 0 #0000005e;
}

@media (min-width: 1024px) {
  .hh {
    height: calc(100vh - 100px);
  }
}

.wc {
  width: calc(100% - 20px) !important;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #222222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sh::-webkit-scrollbar {
  display: none;
}
